.home{
    background-color: black;
    height: 651px;
    overflow-y: scroll;
    bottom: 0;
}

.head{
    color: white;
    text-align: center;
    padding: 20px;
}

.settings-td{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.settings-btn{
    padding: 10px;
}

.add-btn{
    text-align: center;
    margin: 30px;
}